@import "./components/color.scss";
@import "./components/button.scss";
@import "./templates/body";
@import "./templates/header.scss";
@import "./templates/content.scss";
@import "./templates/footer.scss";

.manufacture-img {
  width: 191.75px;
  height: 191.75px;
}

table tr:first-child {
  min-height: 217px;
}

td.product-detail {
  padding: 0;
}

.result {
  position: relative;

  .close-button {
    position: absolute;
    margin-left: 175px;
    margin-top: -191px;

    i {
      transition: color .15s ease-in-out,
      font-size .15s ease-in-out;
    }

    i:hover {
      font-size: 18px;
      cursor: pointer;
      color: #000000;
    }
  }
}