@import "./components/color.scss";
@import "./components/button.scss";
@import "./templates/body";
@import "./templates/header.scss";
@import "./templates/content.scss";
@import "./templates/footer.scss";

.manufacture-img {
  width: 191.75px;
  height: 191.75px;
}

td.product-detail {
  padding: 0;
}
