.btn-main-blue {
    color: #fff;
    background-color: $main-blue;
    border-color: $main-blue;
}

.btn-main-blue:hover {
    color: #fff;
    background-color: $main-blue-hover;
    border-color: $main-blue-hover;
}

.btn-main-red {
    color: #fff;
    background-color: $main-red;
    border-color: $main-red;
}

.btn-main-red:hover {
    color: #fff;
    background-color: $main-red-hover;
    border-color: $main-red-hover;
}

.btn-outline-main-blue {
    color: $main-blue;
    background-color: transparent;
    background-image: none;
    border-color: $main-blue;
}

.btn-outline-main-blue:hover {
    color: #fff;
    background-color: $main-blue;
    background-image: none;
}